.col-sm-4.col-md-3.proto-content
  .thumbnail
    - if user_signed_in? && current_user.id == prototype.user_id
      .dropdown
        %button.btn.btn-default.dropdown-toggle{ "data-toggle": "dropdown" }
          ACTION
        %ul.dropdown-menu{"aria-labelledby": "dropdownMenu1"}
          %li
            = link_to "Delete", prototype_path(prototype), method: :delete, class: "drop-botton"
          %li
            = link_to "Edit", edit_prototype_path(prototype), class: "drop-botton"
    = link_to prototype_path(prototype) do
      = image_tag prototype.main_image
      .caption
        %h3= prototype.title
        .proto-meta
          .proto-user
            = link_to "by #{prototype.user.name}", user_path(prototype.user)
          .proto-posted
            = prototype.created_at.strftime("%b %d")
        %ul.proto-tag-list.list-inline
          -# 以下タグ機能の時実装
          %li
            %a{href: "#", class: "btn btn-default"} タグ1
          %li
            %a{href: "#", class: "btn btn-default"} タグ2
